
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/

# Shared files
.env
products.json
shared-user.json
shared-category.json
shared-product.json